.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.trailer-column {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.details-column {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.details-column, .trailer-column {
    margin-top: 20px;
}

h1 {
    margin-top: 0;
}

p{
    margin-left: 15px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.trailer-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* for 16:9 aspect ratio */
}

.trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rating-icon {
    font-size: 16px;
    margin-right: 0.25em;
}

mat-icon {
    height: 16px;
    width: 16px;
}

.info-row {
    display: flex;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
}