.movie-card {
    margin: 1em;
    min-width: 290px;
    max-height: 570px;
}

img {
    max-width: 300px;
    max-height: 415px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 0 0.5em;
}

mat-card-title {
    max-width: 12em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}